checkpoints/
dataset/
resized_dataset/
toy_test_data/

results/

__pycache__
*/**/__pycache__


input/
output/

Sampling image pairs based on age categories.py
model_convert2onnx_FRAN.py

*.jpg
*.png
*.JPG
*.jpeg

#Ignore Wandb
wandb/

